
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p id="patt">Made by Aditya Verma
    <a href="https://www.instagram.com/homeward_gamer/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/profile.php?id=100059607283259"><i class="fab fa-facebook-f"></i></a>
    <a href="https://github.com/homewardgamer"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/aditya-verma-49a204201/"> <i class="fab fa-linkedin-in"></i></a></p>
  </div>
</div>
</body>
</html>
