<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Blogs</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default navbar-expand-lg">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
        <ul class="navbar-nav">
          <!-- 6 -->
          <li class="navbar-item" id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT</a></li>
          <li id="contact"><a href="/contact">CONTACT</a></li>
          <li id="admin"><a href="/compose">COMPOSE</a></li>
          <li id="admin"><a href="/delete">DELETE</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
